* {
    -cn-editor-color: rgb(80, 80, 80);
    -cn-pane-color: rgb(64, 64, 64);
    -cn-border-color: black;
    -cn-tool-border-color: white;
    -cn-text-color: white;
}

.tools-pane {
    -fx-background-color: -cn-pane-color;
    -fx-padding: 5px;
    -fx-border-style: solid;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: -cn-border-color;
}

.editor-pane {
    -fx-background-color: -cn-editor-color;
    -fx-cursor: crosshair;
}

.controls-pane {
    -fx-background-color: -cn-pane-color;
    -fx-padding: 5px;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 1;
    -fx-border-color: -cn-border-color;
}

.color-control {
    -fx-background-color: -cn-pane-color;
    -fx-padding: 3px;
}

.editor-controls-pane {
    -fx-background-color: -cn-pane-color;
    -fx-padding: 5px;
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: -cn-border-color;
}

.default-label {
    -fx-text-fill: -cn-text-color;
    -fx-text-alignment: center;
}

.default-button {
    -fx-cursor: hand;
}

.tool {
    -fx-padding: 3px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    /* -fx-border-insets: 0; */
}

.selected-tool {
    -fx-padding: 3px;
    -fx-border-color: -cn-tool-border-color;
    -fx-border-insets: 0;
    -fx-border-radius: 5;
}

.editor-tab {
    /* -fx-background-color: rgb(128, 128, 128); */
}

.preset-color-rect {
    -fx-stroke: transparent;
    -fx-stroke-type: inside;
    -fx-stroke-width: 1;
    /* transition: transform 1s ease; */
}

.preset-color-rect:hover {
    -fx-stroke: -cn-border-color;
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}
